.content {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(13,13,13);
}

.menu-wrapper__dashboard {
  display: flex;
  position: relative;
  height: 45px;
  margin-top: 0px;
  margin-bottom: 18px;
}