.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 64px;
  margin-top: 25px;
  margin-bottom: 30px;
  padding-left: 6%;
  padding-right: 6%;
  box-sizing: border-box;
}

.title__header {
  text-align: left;
  font-size: 2.75rem;
  font-family: futura;
  font-weight: 400;
  color: rgb(141, 213, 128);
  margin: auto;
  margin-top: 17px;
}

.wallet-connection-container {
  display: flex;
  height: 100%;
}

.network-indicator-container {
  display: flex;
  position: relative;
  color: rgb(215, 211, 211);
  font-family: menlo;
  font-size: .8rem;
  height: 35px;
  width: 150px;
  border-radius: 8px;
  border-style: solid;
  border-width: 0px;
  margin-top: 29px;
  box-sizing: border-box;
}

.network-indicator {
  position: relative;
  margin: auto;
}

.button-container__connect-wallet {
  position: relative;
  height: 35px;
  width: 150px;
  margin-top: 29px;
  margin-right: 6px;
  box-sizing: border-box;
}

.button__connect-wallet {
  font-size: 1.1rem;
  font-family: futura;
  font-weight: 500;
  color: rgb(1, 1, 1);
  height: 35px;
  width: 150px;
  border-radius: 8px;
  border-style: solid;
  border-width: 0px;
  border-color: rgb(64, 64, 64);
  background-image: url("../../images/stone.png");
  background-position: center;
  background-size: 150px;
  position: relative;
}

.button__connect-wallet:hover{
  background-image: none;
  background-color:rgb(170, 166, 157);
  border-width: 0px;
}

.button__connect-wallet:active {
  background-color: rgb(64, 64, 64);
}