.table-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background-color: black;
    width: 735px;
    height: 195px;
    overflow: auto;
}

.table-container::-webkit-scrollbar {
    display: none;
  }

.inner::-webkit-scrollbar {
    display: none;
  }

.table {
    position: relative;
    width: 98%;
    border-collapse: collapse;
    margin: auto;
}

.table-head {
    font-family: futura;
    font-style: italic;
    font-weight: 100;
    color: rgb(215, 211, 211);
}

.table-body {
    font-family: menlo;
}

td {
    padding-top: 4px;
    padding-bottom: 4px;
    overflow: auto;
}

tr {
    text-align: center; 
    vertical-align: center;
    background-color: black;
    font-size: 1rem;
    color: rgb(215, 211, 211);
}