.table-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background-color: black;
    width: 98%;
    height: 95%;
    overflow: auto;
}

.table {
    position: relative;
    width: 98%;
    border-collapse: collapse;
}

.table-head {
    font-family: futura;
    font-style: italic;
    font-weight: 100;
    color: rgb(215, 211, 211);
}

.table-body {
    font-family: menlo;
}

th, td {
    padding-top: 5px;
}

tr {
    text-align: center; 
    vertical-align: center;
    background-color: black;
    font-size: 1rem;
    color: rgb(215, 211, 211);
}